body{
    background-image: url(/BG/bg-body.jpg);
    background-size: 100%;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: darkgreen;
    font-family: 'ADLaM Display', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 20px #fff;
}

canvas {
    border-radius: 30px;
    border-style: solid;
    border-color: darkgreen;
}

#startButton {
    padding: 15px 30px; 
    font-size: 18px; 
    color: white;
    background-color: darkgreen; 
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
}

#startButton:hover {
    background-color: green; 
}